<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Question Management</h3>

            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active:model.isSet('questionCategories')}">
                            <a href="" ng-click="model.setTab('questionCategories')">
                                Question Categories </a>
                        </li>
                        <li ng-class="{active:model.isSet('questions')}">
                            <a href="" ng-click="model.setTab('questions')">
                                Questions </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                    <!-- Tab content for question categories begins here -->
		                  <div class="tabbable-panel" ng-show="model.isSet('questionCategories')">
		                	<div class="tabbable-line">
		                    <ul class="nav nav-tabs">
		                    	<li ng-class="{active:model.isSet('searchQuestionCategories')}">
		                            <a href="" ng-click="model.setSubTab('searchQuestionCategories')">
		                                Search </a>
		                        </li>
		                        <li ng-class="{active:model.isSet('createQuestionCategories')}">
		                            <a href="" ng-click="model.setSubTab('createQuestionCategories')">
		                                Create </a>
		                        </li>
		                    
		                       </ul>
                        <div class="tab-pane active" id="tab_default_1" ng-show="model.isSetSubTab('searchQuestionCategories')">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">Category Name:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name of the location" ng-model="model.searchQc.questionCategoryName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName3" placeholder="Description of the location" ng-model="model.searchQc.questionCategoryDescription">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Response Type:</label>
                                    <div class="col-sm-7">                                     
                                        <select name="states" class="form-control" id="inputEmail3" placeholder="State" ng-options='qc.fieldId as qc.fieldValue for qc in model.responseTypeList' ng-model="model.searchQc.responseTypeFieldId" required="required">
                                        <option value="">Select Response Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">Start Label:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name of the location" ng-model="model.searchQc.startLabel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">End Label:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name of the location" ng-model="model.searchQc.endLabel">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-7">
                                        <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="model.searchQuestionCategories(model.searchQc)">Search</button>
                                    </div>
                                </div>
                                <!-- <div ng-show="model.updateMessage" class="alert alert-success" role="alert">{{model.updateMessage}}</div>
                                 <div ng-show="model.updateErrorMessage" class="alert alert-danger" role="alert">{{model.updateErrorMessage}}</div>-->
                            </div>
							<div>
           		<h4>Search Results</h4>
           		<div class="table-responsive" id="formtable">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th> Category Name</th>
            <th> Description</th>
            
            <th> </th>
        </tr>
     
        </thead>
        <tbody>
        <tr ng-repeat = "qc in model.questionCategorySearchResults">
            <td><a href=""> {{qc.questionCategoryName}} </a></td>
            <td> {{qc.questionCategoryDescription}} </td>
            
           
            <td>
                <a href=""><span class="glyphicon glyphicon-pencil incrsize" data-toggle="modal"
                                                 data-target="#myModalQc" ng-click="model.selectQuestionCategory($index)"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
           </div> 

                        </div>
                        <div class="tab-pane active" id="tab_default_2" ng-show="model.isSetSubTab('createQuestionCategories')">
                            <div class="form-horizontal" ng-form name="locationCreateForm">
                               
                                <div class="form-group required">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Category Name:</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="createLocationCode" class="form-control" id="inputEmail3" placeholder="Name of the category" ng-model="model.createQc.newQuestionCategoryName">
                                        <div ng-messages="locationCreateForm.createLocationCode.$error">
									       
									        <div ng-message-exp="model.isLocationCodeDuplicate">The location code already exists. Please enter another code.</div>
									      
									    </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName3" placeholder="Description of the category" ng-model="model.createQc.newQuestionCategoryDescription">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Response Type:</label>
                                    <div class="col-sm-7">                                     
                                        <select name="states" class="form-control" id="inputEmail3" placeholder="State" ng-options='qc.fieldId as qc.fieldValue for qc in model.responseTypeList' ng-model="model.createQc.newResponseType" required="required">
                                        <option value="">Select Response Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">Start Label:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="A start label for the category" ng-model="model.createQc.newStartLabel"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">End Label:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="An end label for the category" ng-model="model.createQc.newEndLabel">
                                    </div>
                                </div>
               

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-7">
                                        <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="model.createQuestionCategory(model.createQc)">Create</button>
                                    </div>
                                </div>
                                <!-- <div ng-show="model.updateMessage" class="alert alert-success" role="alert">{{model.updateMessage}}</div>
                                 <div ng-show="model.updateErrorMessage" class="alert alert-danger" role="alert">{{model.updateErrorMessage}}</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab content for questions begins here -->
                	                  <div class="tabbable-panel" ng-show="model.isSet('questions')">
		                	<div class="tabbable-line">
		                    <ul class="nav nav-tabs">
		                    	<li ng-class="{active:model.isSet('searchQuestions')}">
		                            <a href="" ng-click="model.setSubTab('searchQuestions')">
		                                Search </a>
		                        </li>
		                        <li ng-class="{active:model.isSet('createQuestions')}">
		                            <a href="" ng-click="model.setSubTab('createQuestions')">
		                                Create </a>
		                        </li>
		                    
		                       </ul>
                        <div class="tab-pane active" id="tab_default_1" ng-show="model.isSetSubTab('searchQuestions')">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">Question Name:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name of the location" ng-model="model.searchQ.questionName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName3" placeholder="Description of the location" ng-model="model.searchQ.questionDescription">
                                    </div>
                                </div>
                      

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-7">
                                        <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="model.searchQuestions(model.searchQ)">Search</button>
                                    </div>
                                </div>
                                <!-- <div ng-show="model.updateMessage" class="alert alert-success" role="alert">{{model.updateMessage}}</div>
                                 <div ng-show="model.updateErrorMessage" class="alert alert-danger" role="alert">{{model.updateErrorMessage}}</div>-->
                            </div>
							<div>
           		<h4>Search Results</h4>
           		<div class="table-responsive" id="formtable">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th> Question Name</th>
            <th> Description</th>
      
            <th> </th>
        </tr>
     
        </thead>
        <tbody>
        <tr ng-repeat = "qc in model.questionSearchResults">
            <td><a href=""> {{qc.questionName}} </a></td>
            <td> {{qc.questionDescription}} </td>
            
           
            <td>
                <a href=""><span class="glyphicon glyphicon-pencil incrsize" data-toggle="modal"
                                                 data-target="#myModalForQuestions" ng-click="model.selectQuestion($index)"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
           </div> 

                        </div>
                        <div class="tab-pane active" id="tab_default_2" ng-show="model.isSetSubTab('createQuestions')">
                            <div class="form-horizontal" ng-form name="locationCreateForm">
                               
                                <div class="form-group required">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Question Name:</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="createLocationCode" class="form-control" id="inputEmail3" placeholder="Enter a question" ng-model="model.createQ.newQuestionName">
                                        <div ng-messages="locationCreateForm.createLocationCode.$error">
									       
									        <div ng-message-exp="model.isLocationCodeDuplicate">The location code already exists. Please enter another code.</div>
									      
									    </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName3" placeholder="Description for the question" ng-model="model.createQ.newQuestionDescription">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Question Category:</label>
                                    <div class="col-sm-7">                                     
                                        <select name="states" class="form-control" id="inputEmail3" placeholder="" ng-options='qc.questionCategoryId as qc.questionCategoryName for qc in model.questionCategoryList' ng-model="model.createQ.newQuestionCategoryId" required="required">
                                        <option value="">Select Category</option>
                                        </select>
                                    </div>
                                </div>
               

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-7">
                                        <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="model.createQuestion(model.createQ)">Create</button>
                                    </div>
                                </div>
                                <!-- <div ng-show="model.updateMessage" class="alert alert-success" role="alert">{{model.updateMessage}}</div>
                                 <div ng-show="model.updateErrorMessage" class="alert alert-danger" role="alert">{{model.updateErrorMessage}}</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           

        </div>
    </div>
    <!-- Modal view content for question categories -->
       <div id="myModalQc" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Question Category</h4>
                </div>
                <div class="modal-body">
                   <div class="form-horizontal" ng-form name="locationUpdateForm">
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">Category Name:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name of the location" ng-model="model.updateQc.questionCategoryName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName3" placeholder="Description of the location" ng-model="model.updateQc.questionCategoryDescription">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Response Type:</label>
                                    <div class="col-sm-7">                                     
                                        <select name="states" class="form-control" id="inputEmail3" ng-options='qc.fieldId as qc.fieldValue for qc in model.responseTypeList' placeholder="State" ng-model="model.updateQc.responseType" required="required">
                                        <option value="">Select Response Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">Start Label:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name of the location" ng-model="model.updateQc.startLabel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">End Label:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name of the location" ng-model="model.updateQc.endLabel">
                                    </div>
                                </div>
                        

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-7">
                                        <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="model.updateQuestionCategory(model.updateQc)">Update</button>
                                    </div>
                                </div>
                                <!-- <div ng-show="model.updateMessage" class="alert alert-success" role="alert">{{model.updateMessage}}</div>
                                 <div ng-show="model.updateErrorMessage" class="alert alert-danger" role="alert">{{model.updateErrorMessage}}</div>-->
                            </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    
                </div>
            </div>
        </div>
    </div>
      <!-- Modal view content for questions-->
       <div id="myModalForQuestions" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Question</h4>
                </div>
                <div class="modal-body">
                   <div class="form-horizontal" ng-form name="locationUpdateForm">
                                <div class="form-group">
                                    <label for="inputName2" class="col-sm-2 control-label">Question:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Enter a question" ng-model="model.updateQ.questionName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputName3" placeholder="Description of the question" ng-model="model.updateQ.questionDescription">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Question Category:</label>
                                    <div class="col-sm-7">                                     
                                        <select name="states" class="form-control" id="inputEmail3" placeholder="" ng-options='qc.questionCategoryId as qc.questionCategoryName for qc in model.questionCategoryList' ng-model="model.updateQ.questionCategoryId" required="required">
                                        <option value="">Select Category</option>
                                        </select>
                                    </div>
                                </div>
                        		

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-7">
                                        <button type="submit" class="btn btn-default btn-primary btn-block" ng-click="model.updateQuestion(model.updateQ)">Update</button>
                                    </div>
                                </div>
                                <!-- <div ng-show="model.updateMessage" class="alert alert-success" role="alert">{{model.updateMessage}}</div>
                                 <div ng-show="model.updateErrorMessage" class="alert alert-danger" role="alert">{{model.updateErrorMessage}}</div>-->
                            </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>